.custom-select {
  border-radius: 5px !important;
  z-index: 100;

  &__indicators {
    display: none !important;
  }
  &__value-container {
    cursor: pointer !important;
  }
  &__option:not(:last-child) {
    cursor: pointer !important;
    border-bottom: 1px solid #d9d9d9 !important;
  }
  &__option--is-focused {
    background-color: #f0efef !important;
  }
  &__control {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 255, 0.25) !important;
  }
  &__control--is-focused {
    border: 1px solid #dad6d6 !important;
  }
  &__menu {
    height: 200px;
  }
}
